* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #cae589;
    font-family: sans-serif;
    color: white;
}

#game {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: -240px;
    margin-left: -320px;
}

#controls {
    text-align: center;
}

#time {
    text-align: center;
	font-size: 1.7em;
}

button {
    border: 3px solid white;
    border-radius: 3px;
    padding: 5px 10px;;
    
    font-weight: bold;
    font-size: 1.1em;
    
    background: none;
    color: white;
    outline: none;
}



footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
    
    font-size: 1.2em;    
    font-weight: bold;
    text-align: center;
    text-shadow: 0 .5px 2px #4e5835;
}